In [1]:
!pip install transformers

Requirement already satisfied: transformers in ./opt/anaconda3/lib/python3.8/site-packages (4.13.0)
Requirement already satisfied: pyyaml>=5.1 in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (5.4.1)
Requirement already satisfied: filelock in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (3.0.12)
Requirement already satisfied: regex!=2019.12.17 in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (2021.4.4)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (0.2.1)
Requirement already satisfied: packaging>=20.0 in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (20.9)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (2.25.1)
Requirement already satisfied: numpy>=1.17 in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (1.21.0)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (0.10.3)
Requirement already satisfied: tqdm>=4.27 in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (4.59.0)
Requirement already satisfied: sacremoses in ./opt/anaconda3/lib/python3.8/site-packages (from transformers) (0.0.46)
Requirement already satisfied: typing-extensions>=3.7.4.3 in ./opt/anaconda3/lib/python3.8/site-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.7.4.3)
Requirement already satisfied: pyparsing>=2.0.2 in ./opt/anaconda3/lib/python3.8/site-packages (from packaging>=20.0->transformers) (2.4.7)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.8/site-packages (from requests->transformers) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in ./opt/anaconda3/lib/python3.8/site-packages (from requests->transformers) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in ./opt/anaconda3/lib/python3.8/site-packages (from requests->transformers) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.8/site-packages (from requests->transformers) (1.26.6)
Requirement already satisfied: joblib in ./opt/anaconda3/lib/python3.8/site-packages (from sacremoses->transformers) (1.0.1)
Requirement already satisfied: click in ./opt/anaconda3/lib/python3.8/site-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.8/site-packages (from sacremoses->transformers) (1.16.0)

In [146]:
import pandas as pd
import numpy as np
import torch
from transformers import BertForQuestionAnswering
from transformers import BertTokenizer

In [147]:
coqa = pd.read_json('http://downloads.cs.stanford.edu/nlp/data/coqa/coqa-train-v1.0.json')
coqa.head()

   version                                               data
0        1  {'source': 'wikipedia', 'id': '3zotghdk5ibi9ce...
1        1  {'source': 'cnn', 'id': '3wj1oxy92agboo5nlq4r7...
2        1  {'source': 'gutenberg', 'id': '3bdcf01ogxu7zdn...
3        1  {'source': 'cnn', 'id': '3ewijtffvo7wwchw6rtya...
4        1  {'source': 'gutenberg', 'id': '3urfvvm165iantk...

In [148]:
del coqa["version"]

In [149]:
#required columns in our dataframe
cols = ["text","question","answer"]
#list of lists to create our dataframe
comp_list = []
for index, row in coqa.iterrows():
    for i in range(len(row["data"]["questions"])):
        temp_list = []
        temp_list.append(row["data"]["story"])
        temp_list.append(row["data"]["questions"][i]["input_text"])
        temp_list.append(row["data"]["answers"][i]["input_text"])
        comp_list.append(temp_list)
new_df = pd.DataFrame(comp_list, columns=cols) 
#saving the dataframe to csv file for further loading
new_df.to_csv("CoQA_data.csv", index=False)

In [150]:
data = pd.read_csv("CoQA_data.csv")
data.head()

,text,question,answer
0,"The Vatican Apostolic Library (), more commonl...",When was the Vat formally opened?,It was formally established in 1475
1,"The Vatican Apostolic Library (), more commonl...",what is the library for?,research
2,"The Vatican Apostolic Library (), more commonl...",for what subjects?,"history, and law"
3,"The Vatican Apostolic Library (), more commonl...",and?,"philosophy, science and theology"
4,"The Vatican Apostolic Library (), more commonl...",what was started in 2014?,a project

In [151]:
print("Number of question and answers: ", len(data))

Number of question and answers:  108647

In [156]:
model = BertForQuestionAnswering.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')
tokenizer = BertTokenizer.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')

In [157]:
random_num = np.random.randint(0,len(data))
question = data["question"][random_num]
text = data["text"][random_num]

In [158]:
input_ids = tokenizer.encode(question, text)
print("The input has a total of {} tokens.".format(len(input_ids)))

The input has a total of 458 tokens.

In [159]:
tokens = tokenizer.convert_ids_to_tokens(input_ids)
for token, id in zip(tokens, input_ids):
    print('{:8}{:8,}'.format(token,id))

[CLS]        101
who        2,040
came       2,234
for        2,005
chess      7,433
[SEP]        102
chapter    3,127
viii       9,937
and        1,998
these      2,122
two        2,048
,          1,010
as         2,004
i          1,045
have       2,031
told       2,409
you        2,017
,          1,010
were       2,020
the        1,996
friends    2,814
of         1,997
hi         7,632
##awa     10,830
##tha      8,322
,          1,010
chi        9,610
##bia     11,607
##bos     15,853
,          1,010
the        1,996
musician   5,455
,          1,010
and        1,998
the        1,996
very       2,200
strong     2,844
man        2,158
,          1,010
kw         6,448
##asi     21,369
##nd       4,859
.          1,012
-          1,011
-          1,011
hi         7,632
##awa     10,830
##tha      8,322
tor       17,153
##pen     11,837
##how     14,406
was        2,001
pa         6,643
##ging     4,726
the        1,996
last       2,197
sheets     8,697
of         1,997
some       2,070
manuscript   8,356
,          1,010
while      2,096
the        1,996
ni         9,152
##l        2,140
##gh       5,603
##ai       4,886
,          1,010
who        2,040
had        2,018
come       2,272
for        2,005
chess      7,433
and        1,998
remained   2,815
to         2,000
talk       2,831
tactics    9,887
,          1,010
was        2,001
reading    3,752
through    2,083
the        1,996
first      2,034
part       2,112
,          1,010
commenting  15,591
sc         8,040
##orn      9,691
##fully    7,699
the        1,996
while      2,096
.          1,012
"          1,000
it         2,009
'          1,005
s          1,055
picturesque  23,273
enough     2,438
and        1,998
it         2,009
'          1,005
s          1,055
sketch    11,080
##y        2,100
,          1,010
"          1,000
said       2,056
he         2,002
;          1,025
"          1,000
but        2,021
as         2,004
a          1,037
serious    3,809
consideration   9,584
of         1,997
affairs    3,821
in         1,999
eastern    2,789
europe     2,885
,          1,010
it         2,009
'          1,005
s          1,055
not        2,025
worth      4,276
much       2,172
.          1,012
"          1,000
"          1,000
it         2,009
'          1,005
s          1,055
off        2,125
my         2,026
hands      2,398
at         2,012
any        2,151
rate       3,446
.          1,012
.          1,012
.          1,012
.          1,012
thirty     4,228
-          1,011
seven      2,698
,          1,010
thirty     4,228
-          1,011
eight      2,809
,          1,010
thirty     4,228
-          1,011
nine       3,157
slips     17,433
altogether  10,462
,          1,010
aren       4,995
'          1,005
t          1,056
there      2,045
?          1,029
that       2,008
should     2,323
make       2,191
between    2,090
eleven     5,408
and        1,998
twelve     4,376
pages      5,530
of         1,997
valuable   7,070
mis       28,616
##in       2,378
##form    14,192
##ation    3,370
.          1,012
he         2,002
##igh     18,377
-          1,011
ho         7,570
!            999
"          1,000
tor       17,153
##pen     11,837
##how     14,406
shuffled  18,764
the        1,996
writing    3,015
together   2,362
and        1,998
hummed    26,747
-          1,011
-          1,011
'          1,005
young      2,402
lamb      12,559
##s        2,015
to         2,000
sell       5,271
,          1,010
young      2,402
lamb      12,559
##s        2,015
to         2,000
sell       5,271
,          1,010
if         2,065
i          1,045
'          1,005
d          1,040
as         2,004
much       2,172
money      2,769
as         2,004
i          1,045
could      2,071
tell       2,425
,          1,010
i          1,045
never      2,196
would      2,052
cry        5,390
,          1,010
young      2,402
lamb      12,559
##s        2,015
to         2,000
sell       5,271
!            999
'          1,005
"          1,000
dick       5,980
entered    3,133
,          1,010
self       2,969
-          1,011
conscious   9,715
and        1,998
a          1,037
little     2,210
defiant   27,836
,          1,010
but        2,021
in         1,999
the        1,996
best       2,190
of         1,997
temper    12,178
##s        2,015
with       2,007
all        2,035
the        1,996
world      2,088
.          1,012
"          1,000
back       2,067
at         2,012
last       2,197
?          1,029
"          1,000
said       2,056
tor       17,153
##pen     11,837
##how     14,406
.          1,012
"          1,000
more       2,062
or         2,030
less       2,625
.          1,012
what       2,054
have       2,031
you        2,017
been       2,042
doing      2,725
?          1,029
"          1,000
"          1,000
work       2,147
.          1,012
dick       5,980
##ie       2,666
,          1,010
you        2,017
behave    16,582
as         2,004
though     2,295
the        1,996
bank       2,924
of         1,997
england    2,563
were       2,020
behind     2,369
you        2,017
.          1,012
here       2,182
'          1,005
s          1,055
sunday     4,465
,          1,010
monday     6,928
,          1,010
and        1,998
tuesday    9,857
gone       2,908
and        1,998
you        2,017
haven      4,033
'          1,005
t          1,056
done       2,589
a          1,037
line       2,240
.          1,012
it         2,009
'          1,005
s          1,055
scandal    9,446
##ous      3,560
.          1,012
"          1,000
"          1,000
the        1,996
notions   21,951
come       2,272
and        1,998
go         2,175
,          1,010
my         2,026
children   2,336
-          1,011
-          1,011
they       2,027
come       2,272
and        1,998
go         2,175
like       2,066
our        2,256
'          1,005
ba         8,670
##cc       9,468
##y        2,100
,          1,010
"          1,000
he         2,002
answered   4,660
,          1,010
filling    8,110
his        2,010
pipe       8,667
.          1,012
"          1,000
moreover   9,308
,          1,010
"          1,000
he         2,002
st         2,358
##ooped   20,671
to         2,000
thrust     7,400
a          1,037
spill     14,437
into       2,046
the        1,996
gr        24,665
##ate      3,686
,          1,010
"          1,000
apollo     9,348
does       2,515
not        2,025
always     2,467
stretch    7,683
his        2,010
-          1,011
-          1,011
-          1,011
-          1,011
oh         2,821
,          1,010
con        9,530
##fo      14,876
##und      8,630
your       2,115
clumsy    22,902
je        15,333
##sts     12,837
,          1,010
ni         9,152
##l        2,140
##gh       5,603
##ai       4,886
!            999
"          1,000
"          1,000
this       2,023
is         2,003
not        2,025
the        1,996
place      2,173
to         2,000
preach    25,250
the        1,996
theory     3,399
of         1,997
direct     3,622
inspiration   7,780
,          1,010
"          1,000
said       2,056
the        1,996
ni         9,152
##l        2,140
##gh       5,603
##ai       4,886
,          1,010
returning   4,192
tor       17,153
##pen     11,837
##how     14,406
'          1,005
s          1,055
large      2,312
and        1,998
work       2,147
##man      2,386
##like    10,359
bell       4,330
##ows     15,568
to         2,000
their      2,037
nail      13,774
on         2,006
the        1,996
wall       2,813
.          1,012
"          1,000
we         2,057
believe    2,903
in         1,999
cobb      17,176
##lers    12,910
"          1,000
wax       13,844
.          1,012
la         2,474
!            999
-          1,011
-          1,011
where      2,073
you        2,017
sit        4,133
down       2,091
.          1,012
"          1,000
[SEP]        102

In [160]:
#first occurence of [SEP] token
sep_idx = input_ids.index(tokenizer.sep_token_id)
print("SEP token index: ", sep_idx)
#number of tokens in segment A (question) - this will be one more than the sep_idx as the index in Python starts from 0
num_seg_a = sep_idx+1
print("Number of tokens in segment A: ", num_seg_a)
#number of tokens in segment B (text)
num_seg_b = len(input_ids) - num_seg_a
print("Number of tokens in segment B: ", num_seg_b)
#creating the segment ids
segment_ids = [0]*num_seg_a + [1]*num_seg_b
#making sure that every input token has a segment id
assert len(segment_ids) == len(input_ids)

SEP token index:  5
Number of tokens in segment A:  6
Number of tokens in segment B:  452

In [161]:
#token input_ids to represent the input and token segment_ids to differentiate our segments - question and text
output = model(torch.tensor([input_ids]),  token_type_ids=torch.tensor([segment_ids]))

In [162]:
#tokens with highest start and end scores
answer_start = torch.argmax(output.start_logits)
answer_end = torch.argmax(output.end_logits)
if answer_end >= answer_start:
    answer = " ".join(tokens[answer_start:answer_end+1])
else:
    print("I am unable to find the answer to this question. Can you please ask another question?")
    
print("\nQuestion:\n{}".format(question.capitalize()))
print("\nAnswer:\n{}.".format(answer.capitalize()))

Question:
Who came for chess

Answer:
Ni ##l ##gh ##ai.

In [163]:
answer = tokens[answer_start]
for i in range(answer_start+1, answer_end+1):
    if tokens[i][0:2] == "##":
        answer += tokens[i][2:]
    else:
        answer += " " + tokens[i]

In [164]:
def question_answer(question, text):
    
    #tokenize question and text as a pair
    input_ids = tokenizer.encode(question, text)
    
    #string version of tokenized ids
    tokens = tokenizer.convert_ids_to_tokens(input_ids)
    
    #segment IDs
    #first occurence of [SEP] token
    sep_idx = input_ids.index(tokenizer.sep_token_id)
    #number of tokens in segment A (question)
    num_seg_a = sep_idx+1
    #number of tokens in segment B (text)
    num_seg_b = len(input_ids) - num_seg_a
    
    #list of 0s and 1s for segment embeddings
    segment_ids = [0]*num_seg_a + [1]*num_seg_b
    assert len(segment_ids) == len(input_ids)
    
    #model output using input_ids and segment_ids
    output = model(torch.tensor([input_ids]), token_type_ids=torch.tensor([segment_ids]))
    
    #reconstructing the answer
    answer_start = torch.argmax(output.start_logits)
    answer_end = torch.argmax(output.end_logits)
    if answer_end >= answer_start:
        answer = tokens[answer_start]
        for i in range(answer_start+1, answer_end+1):
            if tokens[i][0:2] == "##":
                answer += tokens[i][2:]
            else:
                answer += " " + tokens[i]
                
    if answer.startswith("[CLS]"):
        answer = "Unable to find the answer to your question."
    
    print("\nPredicted answer:\n{}".format(answer.capitalize()))

In [165]:
text = """New York (CNN) -- More than 80 Michael Jackson collectibles -- including the late pop star's famous rhinestone-studded glove from a 1983 performance -- were auctioned off Saturday, reaping a total $2 million. Profits from the auction at the Hard Rock Cafe in New York's Times Square crushed pre-sale expectations of only $120,000 in sales. The highly prized memorabilia, which included items spanning the many stages of Jackson's career, came from more than 30 fans, associates and family members, who contacted Julien's Auctions to sell their gifts and mementos of the singer. Jackson's flashy glove was the big-ticket item of the night, fetching $420,000 from a buyer in Hong Kong, China. Jackson wore the glove at a 1983 performance during \"Motown 25,\" an NBC special where he debuted his revolutionary moonwalk. Fellow Motown star Walter \"Clyde\" Orange of the Commodores, who also performed in the special 26 years ago, said he asked for Jackson's autograph at the time, but Jackson gave him the glove instead. "The legacy that [Jackson] left behind is bigger than life for me,\" Orange said. \"I hope that through that glove people can see what he was trying to say in his music and what he said in his music.\" Orange said he plans to give a portion of the proceeds to charity. Hoffman Ma, who bought the glove on behalf of Ponte 16 Resort in Macau, paid a 25 percent buyer's premium, which was tacked onto all final sales over $50,000. Winners of items less than $50,000 paid a 20 percent premium."""
question = "Where was the Auction held?"
question_answer(question, text)
#original answer from the dataset
print("Original answer:\n", data.loc[data["question"] == question]["answer"].values[0])

Predicted answer:
Hard rock cafe in new york ' s times square
Original answer:
 Hard Rock Cafe