In [1]:
import pandas as pd
import numpy as np
import torch
from transformers import BertForQuestionAnswering
from transformers import BertTokenizer

In [2]:
#import CoQA dataset
coqa = pd.read_json('http://downloads.cs.stanford.edu/nlp/data/coqa/coqa-train-v1.0.json')
coqa.head()

   version                                               data
0        1  {'source': 'wikipedia', 'id': '3zotghdk5ibi9ce...
1        1  {'source': 'cnn', 'id': '3wj1oxy92agboo5nlq4r7...
2        1  {'source': 'gutenberg', 'id': '3bdcf01ogxu7zdn...
3        1  {'source': 'cnn', 'id': '3ewijtffvo7wwchw6rtya...
4        1  {'source': 'gutenberg', 'id': '3urfvvm165iantk...

In [3]:
del coqa["version"]

In [4]:
#required columns in our dataframe
cols = ["text","question","answer"]

#list of lists to create our dataframe
comp_list = []
for index, row in coqa.iterrows():
    for i in range(len(row["data"]["questions"])):
        temp_list = []
        temp_list.append(row["data"]["story"])
        temp_list.append(row["data"]["questions"][i]["input_text"])
        temp_list.append(row["data"]["answers"][i]["input_text"])
        comp_list.append(temp_list)
new_df = pd.DataFrame(comp_list, columns=cols) 

#saving the dataframe to csv file for further loading
new_df.to_csv("CoQA_data.csv", index=False)

In [5]:
data = pd.read_csv("CoQA_data.csv")
data.head()

,text,question,answer
0,"The Vatican Apostolic Library (), more commonl...",When was the Vat formally opened?,It was formally established in 1475
1,"The Vatican Apostolic Library (), more commonl...",what is the library for?,research
2,"The Vatican Apostolic Library (), more commonl...",for what subjects?,"history, and law"
3,"The Vatican Apostolic Library (), more commonl...",and?,"philosophy, science and theology"
4,"The Vatican Apostolic Library (), more commonl...",what was started in 2014?,a project

In [7]:
#calling the BERT model and tokenizer from HugginFace

model = BertForQuestionAnswering.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')
tokenizer = BertTokenizer.from_pretrained('bert-large-uncased-whole-word-masking-finetuned-squad')

In [8]:
#Calling a random row from CoQA

random_num = np.random.randint(0,len(data))
question = data["question"][random_num]
text = data["text"][random_num]

In [9]:
input_ids = tokenizer.encode(question, text)
print("The input has a total of {} tokens.".format(len(input_ids)))

The input has a total of 392 tokens.

In [10]:
#tokenizing context and question

tokens = tokenizer.convert_ids_to_tokens(input_ids)
for token, id in zip(tokens, input_ids):
    print('{:8}{:8,}'.format(token,id))

[CLS]        101
did        2,106
he         2,002
establish   5,323
his        2,010
framework   7,705
im        10,047
##media   16,969
##tly     14,626
?          1,029
[SEP]        102
augustus  11,668
(          1,006
;          1,025
23         2,603
september   2,244
63         6,191
bc         4,647
â€“          1,516
19         2,539
august     2,257
14         2,403
ad         4,748
)          1,007
was        2,001
the        1,996
founder    3,910
of         1,997
the        1,996
roman      3,142
pri       26,927
##nc      12,273
##ip      11,514
##ate      3,686
and        1,998
considered   2,641
the        1,996
first      2,034
roman      3,142
emperor    3,750
,          1,010
controlling   9,756
the        1,996
roman      3,142
empire     3,400
from       2,013
27         2,676
bc         4,647
until      2,127
his        2,010
death      2,331
in         1,999
ad         4,748
14         2,403
.          1,012
he         2,002
was        2,001
born       2,141
gaius     19,564
oct       13,323
##avi     18,891
##us       2,271
into       2,046
an         2,019
old        2,214
and        1,998
wealthy    7,272
equestrian  19,191
branch     3,589
of         1,997
the        1,996
pl        20,228
##eb      15,878
##eia     27,958
##n        2,078
"          1,000
gen        8,991
##s        2,015
"          1,000
oct       13,323
##avia    15,164
.          1,012
his        2,010
maternal  11,062
great      2,307
-          1,011
uncle      4,470
julius    10,396
caesar    11,604
was        2,001
assassinated  16,370
in         1,999
44         4,008
bc         4,647
,          1,010
and        1,998
oct       13,323
##avi     18,891
##us       2,271
was        2,001
named      2,315
in         1,999
caesar    11,604
'          1,005
s          1,055
will       2,097
as         2,004
his        2,010
adopted    4,233
son        2,365
and        1,998
heir       8,215
,          1,010
then       2,059
known      2,124
as         2,004
oct       13,323
##avian   21,654
##us       2,271
(          1,006
ang       17,076
##lic     10,415
##ized     3,550
as         2,004
oct       13,323
##avian   21,654
)          1,007
.          1,012
he         2,002
,          1,010
mark       2,928
antony    16,262
,          1,010
and        1,998
marcus     6,647
le         3,393
##pid     23,267
##us       2,271
formed     2,719
the        1,996
second     2,117
tri       13,012
##um       2,819
##vira    24,093
##te       2,618
to         2,000
defeat     4,154
the        1,996
assassins  18,364
of         1,997
caesar    11,604
.          1,012
following   2,206
their      2,037
victory    3,377
at         2,012
the        1,996
battle     2,645
of         1,997
philipp   20,765
##i        2,072
,          1,010
the        1,996
tri       13,012
##um       2,819
##vira    24,093
##te       2,618
divided    4,055
the        1,996
roman      3,142
republic   3,072
among      2,426
themselves   3,209
and        1,998
ruled      5,451
as         2,004
military   2,510
dictator  21,237
##s        2,015
.          1,012
the        1,996
tri       13,012
##um       2,819
##vira    24,093
##te       2,618
was        2,001
eventually   2,776
torn       7,950
apart      4,237
by         2,011
the        1,996
competing   6,637
ambitions  19,509
of         1,997
its        2,049
members    2,372
.          1,012
le         3,393
##pid     23,267
##us       2,271
was        2,001
driven     5,533
into       2,046
exile      8,340
and        1,998
stripped  10,040
of         1,997
his        2,010
position   2,597
,          1,010
and        1,998
antony    16,262
committed   5,462
suicide    5,920
following   2,206
his        2,010
defeat     4,154
at         2,012
the        1,996
battle     2,645
of         1,997
act        2,552
##ium      5,007
by         2,011
oct       13,323
##avian   21,654
in         1,999
31         2,861
bc         4,647
.          1,012
after      2,044
the        1,996
demise    13,614
of         1,997
the        1,996
second     2,117
tri       13,012
##um       2,819
##vira    24,093
##te       2,618
,          1,010
augustus  11,668
restored   5,854
the        1,996
outward   15,436
facade     8,508
of         1,997
the        1,996
free       2,489
republic   3,072
,          1,010
with       2,007
governmental  10,605
power      2,373
vested    26,003
in         1,999
the        1,996
roman      3,142
senate     4,001
,          1,010
the        1,996
executive   3,237
magistrates  23,007
,          1,010
and        1,998
the        1,996
legislative   4,884
assemblies  17,720
.          1,012
in         1,999
reality    4,507
,          1,010
however    2,174
,          1,010
he         2,002
retained   6,025
his        2,010
auto       8,285
##cratic  17,510
power      2,373
over       2,058
the        1,996
republic   3,072
as         2,004
a          1,037
military   2,510
dictator  21,237
.          1,012
by         2,011
law        2,375
,          1,010
augustus  11,668
held       2,218
a          1,037
collection   3,074
of         1,997
powers     4,204
granted    4,379
to         2,000
him        2,032
for        2,005
life       2,166
by         2,011
the        1,996
senate     4,001
,          1,010
including   2,164
supreme    4,259
military   2,510
command    3,094
,          1,010
and        1,998
those      2,216
of         1,997
tribune   10,969
and        1,998
ce         8,292
##nsor    29,577
.          1,012
it         2,009
took       2,165
several    2,195
years      2,086
for        2,005
augustus  11,668
to         2,000
develop    4,503
the        1,996
framework   7,705
within     2,306
which      2,029
a          1,037
formally   6,246
republican   3,951
state      2,110
could      2,071
be         2,022
led        2,419
under      2,104
his        2,010
sole       7,082
rule       3,627
.          1,012
he         2,002
rejected   5,837
monarch   11,590
##ical     7,476
titles     4,486
,          1,010
and        1,998
instead    2,612
called     2,170
himself    2,370
"          1,000
prince     3,159
##ps       4,523
ci        25,022
##vita    28,403
##tis      7,315
"          1,000
(          1,006
"          1,000
first      2,034
citizen    6,926
of         1,997
the        1,996
state      2,110
"          1,000
)          1,007
.          1,012
the        1,996
resulting   4,525
constitutional   6,543
framework   7,705
became     2,150
known      2,124
as         2,004
the        1,996
pri       26,927
##nc      12,273
##ip      11,514
##ate      3,686
,          1,010
the        1,996
first      2,034
phase      4,403
of         1,997
the        1,996
roman      3,142
empire     3,400
.          1,012
[SEP]        102

In [11]:
#first occurence of [SEP] token
sep_idx = input_ids.index(tokenizer.sep_token_id)

print("SEP token index: ", sep_idx)

#number of tokens in segment A (question) - this will be one more than the sep_idx as the index in Python starts from 0
num_seg_a = sep_idx+1
print("Number of tokens in segment A: ", num_seg_a)

#number of tokens in segment B (text)
num_seg_b = len(input_ids) - num_seg_a

print("Number of tokens in segment B: ", num_seg_b)

#creating the segment ids
segment_ids = [0]*num_seg_a + [1]*num_seg_b

#making sure that every input token has a segment id
assert len(segment_ids) == len(input_ids)

SEP token index:  10
Number of tokens in segment A:  11
Number of tokens in segment B:  381

In [12]:
#token input_ids to represent the input and token segment_ids to differentiate our segments - question and text
output = model(torch.tensor([input_ids]),  token_type_ids=torch.tensor([segment_ids]))

In [13]:
#tokens with highest start and end scores
answer_start = torch.argmax(output.start_logits)
answer_end = torch.argmax(output.end_logits)
if answer_end >= answer_start:
    answer = " ".join(tokens[answer_start:answer_end+1])
else:
    print("I am unable to find the answer to this question. Can you please ask another question?")
    
print("\nQuestion:\n{}".format(question.capitalize()))
print("\nAnswer:\n{}.".format(answer.capitalize()))

Question:
Did he establish his framework immediatly?

Answer:
It took several years.

In [14]:
def question_answer(question, text):
    
    #tokenize question and text as a pair
    input_ids = tokenizer.encode(question, text)
    
    #string version of tokenized ids
    tokens = tokenizer.convert_ids_to_tokens(input_ids)
    
    #segment IDs
    #first occurence of [SEP] token
    sep_idx = input_ids.index(tokenizer.sep_token_id)
    #number of tokens in segment A (question)
    num_seg_a = sep_idx+1
    #number of tokens in segment B (text)
    num_seg_b = len(input_ids) - num_seg_a
    
    #list of 0s and 1s for segment embeddings
    segment_ids = [0]*num_seg_a + [1]*num_seg_b
    assert len(segment_ids) == len(input_ids)
    
    #model output using input_ids and segment_ids
    output = model(torch.tensor([input_ids]), token_type_ids=torch.tensor([segment_ids]))
    
    #reconstructing the answer
    answer_start = torch.argmax(output.start_logits)
    answer_end = torch.argmax(output.end_logits)
    if answer_end >= answer_start:
        answer = tokens[answer_start]
        for i in range(answer_start+1, answer_end+1):
            if tokens[i][0:2] == "##":
                answer += tokens[i][2:]
            else:
                answer += " " + tokens[i]
                
    if answer.startswith("[CLS]"):
        answer = "Unable to find the answer to your question."
    
    print("\nPredicted answer:\n{}".format(answer.capitalize()))

In [15]:
text = """New York (CNN) -- More than 80 Michael Jackson collectibles -- including the late pop star's famous rhinestone-studded glove from a 1983 performance -- were auctioned off Saturday, reaping a total $2 million. Profits from the auction at the Hard Rock Cafe in New York's Times Square crushed pre-sale expectations of only $120,000 in sales. The highly prized memorabilia, which included items spanning the many stages of Jackson's career, came from more than 30 fans, associates and family members, who contacted Julien's Auctions to sell their gifts and mementos of the singer. Jackson's flashy glove was the big-ticket item of the night, fetching $420,000 from a buyer in Hong Kong, China. Jackson wore the glove at a 1983 performance during \"Motown 25,\" an NBC special where he debuted his revolutionary moonwalk. Fellow Motown star Walter \"Clyde\" Orange of the Commodores, who also performed in the special 26 years ago, said he asked for Jackson's autograph at the time, but Jackson gave him the glove instead. "The legacy that [Jackson] left behind is bigger than life for me,\" Orange said. \"I hope that through that glove people can see what he was trying to say in his music and what he said in his music.\" Orange said he plans to give a portion of the proceeds to charity. Hoffman Ma, who bought the glove on behalf of Ponte 16 Resort in Macau, paid a 25 percent buyer's premium, which was tacked onto all final sales over $50,000. Winners of items less than $50,000 paid a 20 percent premium."""
question = "Where was the Auction held?"
question_answer(question, text)
#original answer from the dataset
print("Original answer:\n", data.loc[data["question"] == question]["answer"].values[0])

Predicted answer:
Hard rock cafe in new york ' s times square
Original answer:
 Hard Rock Cafe

In [16]:
text = input("Please enter your text: \n")
question = input("\nPlease enter your question: \n")
while True:
    question_answer(question, text)
    
    flag = True
    flag_N = False
    
    while flag:
        response = input("\nDo you want to ask another question based on this text (Y/N)? ")
        if response[0] == "Y":
            question = input("\nPlease enter your question: \n")
            flag = False
        elif response[0] == "N":
            print("\nBye!")
            flag = False
            flag_N = True
            
    if flag_N == True:
        break

Please enter your text:
 Which country grows the most tea? The answer is India. It grows three times as much as China. Which country drinks the most tea? It's neither China nor Japan. It's Great Britain. In the wild, tea plants may be 30 feet tall. But a plant grown for market is pruned. Pruning keeps the plant only three or four feet tall. This is an easy height for tea picking. Only the two top leaves and bud of each new shoot are picked. So to make money, tea plantations must be huge. In general, there are two kinds of tea. Black tea and green tea. Black tea is fermented. In the process, the tea loses nearly all of its healthy qualities. Green tea is steamed right after the leaves are picked. Green tea _ its healthy qualities. For example, it may prevent heart disease. How did we get tea bag?

Please enter your question:
What did they do to green tea after picking it?

Predicted answer:
Steamed

Do you want to ask another question based on this text (Y/N)? N

Bye!